// COLORS
$main-color: #915f68;
$accent-color: #a93944;
$dark-color: #64454b;
$hover-color: #95323c;
$white-color: #f9f3f3;
$white-color-2: #f5efef;
$text-color: #d7c5c4;
$btn-text-color: #fcfcfc;
$footer-back: #553337;

// BORDER_COLORS
$border-color-brown: #786460;

// FONT_FAMILY
$main-font: 'Montserrat';
$sub-font: 'Playfair Display';
